@use "vars" as v;

#blog {
    min-height: 100vh;

    .post {
        background-color: v.$color-nanolight;
        margin-top: 20px;
        padding: 20px;

        p {
            margin: 0;
            margin-top: 10px;
            font-size: v.$font-size-small;
        }
    }
}
