.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    padding-left: 10%;
    width: 50%;
}

.intro-hi {
    font-size: 24px;
    color: var(--mystlue);
    animation: 1s fadein linear;
}

.intro-name {
    font-size: 72px;
    color: var(--mystage);
    animation: 1.5s fadein linear;
}

.intro-miniDescription {
    font-size: 54px;
    color: var(--mystrey);
    animation: 2s fadein linear;
}

.intro-longDescription {
    font-size: 16px;
    color: var(--mystreydark);
    animation: 2.5s fadein linear;
}

.intro-name {
    letter-spacing: 3px;
}

.intro-pad {
    padding: 10px;
}

.intro-buttons {
    width: 60%;
    display: flex;
    padding-top: 20px;
}

.intro-projects {
    border-radius: 5px;
    border: none;
    background-color: #FFB84E;
    padding: 10px;
    font-size: 18px;
    animation: 0.5s pop linear;
    width: 150px;
}

.intro-projects:hover {
    background-color: #4EC9B2;
}

.proj-parent {
    padding-right: 50px;
}

@media only screen and (max-width: 750px) {
    .intro {
        padding-top: 30px;
        width: 80%;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes pop {
    from { 
        transform: scale(0, 0);
    } to {
        transform: scale(1, 1);
    }
}